<a href="https://colab.research.google.com/github/ashwinsathish/Hyp-embeddings/blob/main/tmdb_movie_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Content Based Recommendation System

##1. Data Loading

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [ ]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [ ]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies.shape

(4803, 20)

In [ ]:
credits.shape

(4803, 4)

In [ ]:
movies = movies.merge(credits, on = 'title')

In [ ]:
movies.shape

(4809, 23)

In [ ]:
movies['original_language'].value_counts()

en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

##2. Pre-processing

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

Columns included in this recommendation system are

*   movie_id
*   title
*   genres
*   overview
*   keywords
*   cast
*   crew

In [ ]:
movies = movies[['movie_id','title','genres','overview','keywords','cast','crew']]

In [ ]:
movies.head(50)

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
5,559,Spider-Man 3,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",The seemingly invincible Spider-Man goes up ag...,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...","[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de..."
6,38757,Tangled,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",When the kingdom's most wanted-and most charmi...,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...","[{""cast_id"": 34, ""character"": ""Flynn Rider (vo...","[{""credit_id"": ""52fe46db9251416c91062101"", ""de..."
7,99861,Avengers: Age of Ultron,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",When Tony Stark tries to jumpstart a dormant p...,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...","[{""cast_id"": 76, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""55d5f7d4c3a3683e7e0016eb"", ""de..."
8,767,Harry Potter and the Half-Blood Prince,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","As Harry begins his sixth year at Hogwarts, he...","[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...","[{""cast_id"": 3, ""character"": ""Harry Potter"", ""...","[{""credit_id"": ""52fe4273c3a36847f801fab1"", ""de..."
9,209112,Batman v Superman: Dawn of Justice,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Fearing the actions of a god-like Super Hero l...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...","[{""cast_id"": 18, ""character"": ""Bruce Wayne / B...","[{""credit_id"": ""553bf23692514135c8002886"", ""de..."
10,1452,Superman Returns,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",Superman returns to discover his 5-year absenc...,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...","[{""cast_id"": 3, ""character"": ""Superman / Clark...","[{""credit_id"": ""553bef6a9251416874003c8f"", ""de..."
11,10764,Quantum of Solace,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",Quantum of Solace continues the adventures of ...,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe43b29251416c7501aa63"", ""de..."
12,58,Pirates of the Caribbean: Dead Man's Chest,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",Captain Jack Sparrow works his way out of a bl...,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...","[{""cast_id"": 37, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""52fe4211c3a36847f8001873"", ""de..."
13,57201,The Lone Ranger,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",The Texas Rangers chase down a gang of outlaws...,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...","[{""cast_id"": 4, ""character"": ""Tonto"", ""credit_...","[{""credit_id"": ""52fe4928c3a36847f818be95"", ""de..."
14,49521,Man of Steel,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A young boy learns that he has extraordinary p...,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...","[{""cast_id"": 2, ""character"": ""Clark Kent / Kal...","[{""credit_id"": ""52fe4799c3a36847f813e667"", ""de..."
15,2454,The Chronicles of Narnia: Prince Caspian,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",One year after their incredible adventures in ...,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 1, ""character"": ""Prince Caspian"",...","[{""credit_id"": ""55a239e69251412979002e8b"", ""de..."
16,24428,The Avengers,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",When an unexpected enemy emerges and threatens...,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...","[{""cast_id"": 46, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""52fe4495c3a368484e02b1cf"", ""de..."
17,1865,Pirates of the Caribbean: On Stranger Tides,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",Captain Jack Sparrow crosses paths with a woma...,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...","[{""cast_id"": 15, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""566b4f54c3a3683f56005151"", ""de..."
18,41154,Men in Black 3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",Agents J (Will Smith) and K (Tommy Lee Jones) ...,"[{""id"": 4379, ""name"": ""time travel""}, {""id"": 5...","[{""cast_id"": 4, ""character"": ""Agent J"", ""credi...","[{""credit_id"": ""52fe45b7c3a36847f80d68c7"", ""de..."
19,122917,The Hobbit: The Battle of the Five Armies,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Immediately after the events of The Desolation...,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 603...","[{""cast_id"": 10, ""character"": ""Bilbo Baggins"",...","[{""credit_id"": ""548ad49a9251414fa20011ab"", ""de..."
20,1930,The Amazing Spider-Man,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Peter Parker is an outcast high schooler aband...,"[{""id"": 1872, ""name"": ""loss of father""}, {""id""...","[{""cast_id"": 56, ""character"": ""Peter Parker / ...","[{""credit_id"": ""5395a60dc3a368641d004492"", ""de..."
21,20662,Robin Hood,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",When soldier Robin happens upon the dying Robe...,"[{""id"": 4147, ""name"": ""robin hood""}, {""id"": 43...","[{""cast_id"": 1, ""character"": ""Robin Longstride...","[{""credit_id"": ""52fe43f2c3a368484e0076ad"", ""de..."
22,57158,The Hobbit: The Desolation of Smaug,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","The Dwarves, Bilbo and Gandalf have successful...","[{""id"": 603, ""name"": ""elves""}, {""id"": 604, ""na...","[{""cast_id"": 3, ""character"": ""Bilbo Baggins"", ...","[{""credit_id"": ""52fe4926c3a36847f818b787"", ""de..."
23,2268,The Golden Compass,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","After overhearing a shocking secret, precociou...","[{""id"": 392, ""name"": ""england""}, {""id"": 1461, ...","[{""cast_id"": 43, ""character"": ""Lyra Belacqua"",...","[{""credit_id"": ""52fe4348c3a36847f8048635"", ""de..."
24,254,King Kong,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...","In 1933 New York, an overly ambitious movie pr...","[{""id"": 774, ""name"": ""film business""}, {""id"": ...","[{""cast_id"": 5, ""character"": ""Ann Darrow"", ""cr...","[{""credit_id"": ""52fe422ec3a36847f800a1d7"", ""de..."
25,597,Titanic,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","84 years later, a 101-year-old woman named Ros...","[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...","[{""cast_id"": 20, ""character"": ""Rose DeWitt Buk...","[{""credit_id"": ""52fe425ac3a36847f8017985"", ""de..."
26,271110,Captain America: Civil War,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","Following the events of Age of Ultron, the col...","[{""id"": 393, ""name"": ""civil war""}, {""id"": 6091...","[{""cast_id"": 9, ""character"": ""Steve Rogers / C...","[{""credit_id"": ""569443d59251414b67000428"", ""de..."
27,44833,Battleship,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...","When mankind beams a radio signal into space, ...","[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...","[{""cast_id"": 3, ""character"": ""Lieutenant Alex ...","[{""credit_id"": ""52fe469ec3a36847f8108d45"", ""de..."
28,135397,Jurassic World,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Twenty-two years after the events of Jurassic ...,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...","[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de..."
29,37724,Skyfall,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",When Bond's latest assignment goes gravely wro...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 4289, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe46689251416c910537ad"", ""de..."
30,558,Spider-Man 2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Peter Parker is going through a major identity...,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...","[{""cast_id"": 33, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f8015039"", ""de..."
31,68721,Iron Man 3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",When Tony Stark's world is torn apart by a for...,"[{""id"": 949, ""name"": ""terrorist""}, {""id"": 5597...","[{""cast_id"": 40, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""52fe47a0c3a368484e0d15cb"", ""de..."
32,12155,Alice in Wonderland,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 14, ""...","Alice, an unpretentious and individual 19-year...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 7, ""character"": ""Alice Kingsleigh...","[{""credit_id"": ""52fe44c09251416c7503fbc3"", ""de..."
33,36668,X-Men: The Last Stand,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","When a cure is found to treat mutations, lines...","[{""id"": 1852, ""name"": ""mutant""}, {""id"": 8828, ...","[{""cast_id"": 4, ""character"": ""Logan / Wolverin...","[{""credit_id"": ""538d82720e0a26670e005e83"", ""de..."
34,62211,Monsters University,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",A look at the relationship between Mike and Su...,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 5984,...","[{""cast_id"": 6, ""character"": ""Michael \""Mike\""...","[{""credit_id"": ""52fe4675c3a368484e091e53"", ""de..."
35,8373,Transformers: Revenge of the Fallen,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",Sam Witwicky leaves the Autobots behind for a ...,"[{""id"": 1160, ""name"": ""egypt""}, {""id"": 1670, ""...","[{""cast_id"": 5, ""character"": ""Sam Witwicky"", ""...","[{""credit_id"": ""537f0791c3a3680598002d4a"", ""de..."
36,91314,Transformers: Age of Extinction,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","As humanity picks up the pieces, following the...","[{""id"": 9663, ""name"": ""sequel""}, {""id"": 9951, ...","[{""cast_id"": 6, ""character"": ""Cade Yeager"", ""c...","[{""credit_id"": ""546c7de8c3a368096b001181"", ""de..."
37,68728,Oz: The Great and Powerful,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...","Oscar Diggs, a small-time circus illusionist a...","[{""id"": 291, ""name"": ""circus""}, {""id"": 616, ""n...","[{""cast_id"": 6, ""character"": ""Oz"", ""credit_id""...","[{""credit_id"": ""52fe47a1c3a368484e0d1a21"", ""de..."
38,102382,The Amazing Spider-Man 2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","For Peter Parker, life is busy. Between taking...","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 882...","[{""cast_id"": 3, ""character"": ""Peter Parker / S...","[{""credit_id"": ""53e66a1cc3a3684439001575"", ""de..."
39,20526,TRON: Legacy,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","Sam Flynn, the tech-savvy and daring son of Ke...","[{""id"": 310, ""name"": ""artificial intelligence""...","[{""cast_id"": 44, ""character"": ""Sam Flynn"", ""cr...","[{""credit_id"": ""52fe43eac3a368484e005c9f"", ""de..."
40,49013,Cars 2,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",Star race car Lightning McQueen and his pal Ma...,"[{""id"": 830, ""name"": ""car race""}, {""id"": 9663,...","[{""cast_id"": 4, ""character"": ""Lightning McQuee...","[{""credit_id"": ""52fe477fc3a36847f8139271"", ""de..."
41,44912,Green Lantern,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","For centuries, a small but powerful force of w...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 4375...","[{""cast_id"": 6, ""character"": ""Hal Jordan / Gre...","[{""credit_id"": ""52fe46a3c3a36847f8109f09"", ""de..."
42,10193,Toy Story 3,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","Woody, Buzz, and the rest of Andy's toys haven...","[{""id"": 1562, ""name"": ""hostage""}, {""id"": 3616,...","[{""cast_id"": 6, ""character"": ""Woody (voice)"", ...","[{""credit_id"": ""5770143fc3a3683733000f3a"", ""de..."
43,534,Terminator Salvation,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...","All grown up in post-apocalyptic 2018, John Co...","[{""id"": 83, ""name"": ""saving the world""}, {""id""...","[{""cast_id"": 18, ""character"": ""John Connor"", ""...","[{""credit_id"": ""52fe424ec3a36847f8013ffd"", ""de..."
44,168259,Furious 7,"[{""id"": 28, ""name"": ""Action""}]",Deckard Shaw seeks revenge against Dominic Tor...,"[{""id"": 830, ""name"": ""car race""}, {""id"": 3428,...","[{""cast_id"": 17, ""character"": ""Dominic Toretto...","[{""credit_id"": ""52fe4cc8c3a36847f823e699"", ""de..."
45,72190,World War Z,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",Life for former United Nations investigator Ge...,"[{""id"": 4565, ""name"": ""dystopia""}, {""id"": 1233...","[{""cast_id"": 4, ""character"": ""Gerry Lane"", ""cr...","[{""credit_id"": ""52fe485dc3a368484e0f50f9"", ""de..."
46,127585,X-Men: Days of Future Past,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",The ultimate X-Men ensemble fights a war for t...,"[{""id"": 1228, ""name"": ""1970s""}, {""id"": 1852, ""...","[{""cast_id"": 9, ""character"": ""Logan / Wolverin...","[{""credit_id"": ""54408fa5c3a3686078000858"", ""de..."
47,54138,Star Trek Into Darkness,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",When the crew of the Enterprise is called back...,"[{""id"": 1612, ""name"": ""spacecraft""}, {""id"": 60...","[{""cast_id"": 2, ""character"": ""James T. Kirk"", ...","[{""credit_id"": ""52fe488dc3a36847f816d839"", ""de..."
48,81005,Jack the Giant Slayer,"[{""id"": 28, ""name"": ""Action""}, {""id"": 10751, ""...",The story of an ancient war that is reignited ...,"[{""id"": 179411, ""name"": ""based on fairy tale""}...","[{""cast_id"": 7, ""character"": ""Jack"", ""credit_i...","[{""credit_id"": ""569396fb925141655700200d"", ""de..."
49,64682,The Great Gatsby,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",An adaptation of F. Scott Fitzgerald's Long Is...,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 2, ""character"": ""Jay Gatsby"", ""cr...","[{""credit_id"": ""52fe46e3c3a368484e0a982d"", ""de..."

In [ ]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
overview    0
keywords    0
cast        0
crew        0
dtype: int64

In [ ]:
movies.duplicated().sum()

0

In [ ]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

We try to get all genres of a movie in the form of an array

In [ ]:
import ast

In [ ]:
#converting a string of list into a list
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [ ]:
def convert(obj):
  L = []
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [ ]:
movies['genres'] = movies['genres'].apply(convert)

In [ ]:
#doing the same for keywords
movies['keywords'] = movies['keywords'].apply(convert)

In [ ]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bondâ€™s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

While doing it for the cast, we extract just the info of top 3 actors and then proceed as before

In [ ]:
def convert_top3(obj):
  L = []
  counter = 0
  for i in ast.literal_eval(obj):
    if counter != 3:
      L.append(i['name'])
      counter+=1
    else:
      break     
  return L

In [ ]:
movies['cast'] = movies['cast'].apply(convert_top3)

In [ ]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bondâ€™s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In case of crew, the director has the most impact when trying to recommend a movie

In [ ]:
def find_director(obj):
  L = []
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      L.append(i['name'])
      break    
  return L

In [ ]:
movies['crew'] = movies['crew'].apply(find_director)

In [ ]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bondâ€™s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

The overview column contains data as a string. We convert into a list so that it can be concatenated with the rest data

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bondâ€™s, past, send...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[John, Carter, is, a, war-weary,, former, mili...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [ ]:
#removing spaces between words
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['overview'] = movies['overview'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bondâ€™s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [ ]:
# creating a new column that contains concatenated information about genres, overview, keywords, cast & crew
movies['tags'] = movies['genres'] + movies['overview'] + movies['keywords'] + movies['cast'] + movies['crew']

In [ ]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, I..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Adventure, Fantasy, Action, Captain, Barbossa..."
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bondâ€™s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[Action, Adventure, Crime, A, cryptic, message..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Action, Crime, Drama, Thriller, Following, th..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[Action, Adventure, ScienceFiction, John, Cart..."

In [ ]:
df = movies[['movie_id', 'title', 'tags']]

In [ ]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, I..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, Captain, Barbossa..."
2,206647,Spectre,"[Action, Adventure, Crime, A, cryptic, message..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, Following, th..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, John, Cart..."

In [ ]:
# converting the array of tags back to string
df['tags'] = df['tags'].apply(lambda x:" ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df['tags'] = df['tags'].apply(lambda x:x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.head()

,movie_id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction in the...
1,285,Pirates of the Caribbean: At World's End,"adventure fantasy action captain barbossa, lon..."
2,206647,Spectre,action adventure crime a cryptic message from ...
3,49026,The Dark Knight Rises,action crime drama thriller following the deat...
4,49529,John Carter,action adventure sciencefiction john carter is...

## 3. Text Vectorization

We try to find similarities between data based on the tags. Each of the tag is converted into a vector and the most similar movies can be found based on the closeness of these vectors in 2-D space

Vectorization techniques

*   Bag of Words
*   TF-IDF
*   Word2Vec

Here, we try using the Bag of Words technique. Its done using the CountVectorizer() function of sklearn library

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer(max_features = 1000, stop_words = 'english')

In [ ]:
vecs = cv.fit_transform(df['tags']).toarray()

In [ ]:
vecs

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '10',
 '12',
 '1950s',
 '1960s',
 '1970s',
 '20',
 '3d',
 'abandoned',
 'accident',
 'accidentally',
 'act',
 'action',
 'actor',
 'actually',
 'adultery',
 'adventure',
 'adventures',
 'affair',
 'africa',
 'african',
 'aftercreditsstinger',
 'age',
 'agent',
 'aging',
 'ago',
 'agrees',
 'airplane',
 'alcohol',
 'alcoholic',
 'alex',
 'alice',
 'alien',
 'alive',
 'america',
 'american',
 'ancient',
 'angeles',
 'animal',
 'animation',
 'apart',
 'apartment',
 'apocalyptic',
 'armed',
 'army',
 'arrives',
 'art',
 'artist',
 'arts',
 'assassin',
 'assassination',
 'assigned',
 'assignment',
 'assistant',
 'astronaut',
 'attack',
 'attempt',
 'attempts',
 'author',
 'away',
 'baby',
 'bad',
 'band',
 'bank',
 'bar',
 'baseball',
 'based',
 'basedoncomicbook',
 'basedonnovel',
 'basedontruestory',
 'basedonyoungadultnovel',
 'basketball',
 'battle',
 'beach',
 'bear',
 'beautiful',
 'beauty',
 'begin',
 'begins',
 'believe',
 'believes',
 'beloved',
 'ben',
 'benstiller',
 'berlin',
 'best',
 'bestfriend',
 'betrayal',
 'better',
 'big',
 'biography',
 'birthday',
 'black',
 'blackmail',
 'blood',
 'body',
 'bomb',
 'bond',
 'book',
 'born',
 'boss',
 'boy',
 'boyfriend',
 'boys',
 'break',
 'bring',
 'brings',
 'british',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brucewillis',
 'brutal',
 'buddy',
 'building',
 'business',
 'businessman',
 'california',
 'called',
 'camp',
 'cancer',
 'captain',
 'capture',
 'car',
 'care',
 'career',
 'case',
 'casino',
 'cast',
 'cat',
 'caught',
 'cause',
 'century',
 'chance',
 'change',
 'changes',
 'chaos',
 'characters',
 'charlie',
 'chase',
 'chicago',
 'child',
 'childhood',
 'children',
 'china',
 'christian',
 'christmas',
 'church',
 'cia',
 'city',
 'class',
 'classic',
 'clinteastwood',
 'close',
 'club',
 'coach',
 'college',
 'come',
 'comedy',
 'comes',
 'coming',
 'comingofage',
 'community',
 'company',
 'competition',
 'complete',
 'complicated',
 'computer',
 'confront',
 'conspiracy',
 'control',
 'cop',
 'cops',
 'corporate',
 'corporation',
 'corrupt',
 'corruption',
 'country',
 'couple',
 'courage',
 'course',
 'court',
 'cover',
 'crash',
 'creature',
 'creatures',
 'crew',
 'crime',
 'criminal',
 'criminals',
 'crisis',
 'cross',
 'crush',
 'curse',
 'dad',
 'dance',
 'dancer',
 'dancing',
 'danger',
 'dangerous',
 'danny',
 'dark',
 'date',
 'daughter',
 'david',
 'day',
 'days',
 'dead',
 'deadly',
 'deal',
 'dealer',
 'death',
 'deception',
 'decide',
 'decides',
 'deep',
 'demon',
 'desert',
 'desperate',
 'despite',
 'destroy',
 'destruction',
 'detective',
 'determined',
 'dies',
 'different',
 'director',
 'disappearance',
 'disaster',
 'discover',
 'discovers',
 'discovery',
 'divorce',
 'doctor',
 'documentary',
 'does',
 'doesn',
 'dog',
 'don',
 'door',
 'dr',
 'dragon',
 'drama',
 'drawn',
 'dream',
 'dreams',
 'driver',
 'drug',
 'drugs',
 'duringcreditsstinger',
 'dying',
 'dyinganddeath',
 'dystopia',
 'early',
 'earth',
 'east',
 'eccentric',
 'elite',
 'embark',
 'embarks',
 'encounter',
 'encounters',
 'end',
 'ends',
 'enemy',
 'england',
 'english',
 'enter',
 'entire',
 'epic',
 'escape',
 'escapes',
 'especially',
 'estranged',
 'eve',
 'events',
 'eventually',
 'evil',
 'ex',
 'executive',
 'existence',
 'experience',
 'experiment',
 'explosion',
 'eye',
 'eyes',
 'face',
 'faces',
 'faith',
 'fall',
 'falls',
 'fame',
 'family',
 'famous',
 'fantasy',
 'far',
 'farm',
 'fast',
 'fate',
 'father',
 'fathersonrelationship',
 'fbi',
 'fbiagent',
 'fear',
 'fellow',
 'female',
 'femalenudity',
 'fight',
 'fighting',
 'fights',
 'figure',
 'film',
 'final',
 'finally',
 'finding',
 'finds',
 'flashback',
 'florida',
 'follow',
 'following',
 'follows',
 'food',
 'football',
 'force',
 'forced',
 'forces',
 'foreign',
 'forest',
 'forever',
 'form',
 'fortune',
 'france',
 'frank',
 'free',
 'freedom',
 'french',
 'friend',
 'friends',
 'friendship',
 'fun',
 'funeral',
 'future',
 'game',
 'games',
 'gang',
 'gangster',
 'gay',
 'general',
 'genius',
 'george',
 'georgeclooney',
 'gets',
 'getting',
 'ghost',
 'girl',
 'girlfriend',
 'girls',
 'gives',
 'global',
 'god',
 'goes',
 'going',
 'gold',
 'gone',
 'good',
 'gore',
 'got',
 'government',
 'great',
 'greatest',
 'green',
 'group',
 'growing',
 'grown',
 'grows',
 'guard',
 'gun',
 'guy',
 'guys',
 'half',
 'hand',
 'hands',
 'happens',
 'happy',
 'hard',
 'harry',
 'having',
 'head',
 'heads',
 'heart',
 'heist',
 'helicopter',
 'hell',
 'help',
 'henry',
 'hero',
 'high',
 'highschool',
 'hip',
 'hired',
 'history',
 'hit',
 'hitman',
 'hits',
 'hold',
 'holiday',
 'hollywood',
 'home',
 'hometown',
 'hop',
 'hope',
 'hopes',
 'horror',
 'horse',
 'hospital',
 'hostage',
 'hot',
 'hotel',
 'house',
 'human',
 'humanity',
 'humans',
 'hunt',
 'hunter',
 'husband',
 'ice',
 'idea',
 'identity',
 'ii',
 'impossible',
 'including',
 'increasingly',
 'independentfilm',
 'india',
 'indian',
 'infidelity',
 'innocent',
 'inside',
 'instead',
 'intelligence',
 'international',
 'inventor',
 'investigate',
 'investigation',
 'involved',
 'irish',
 'island',
 'isn',
 'jack',
 'jackson',
 'jail',
 'james',
 'japan',
 'japanese',
 'jason',
 'jealousy',
 'jean',
 'jewish',
 'jim',
 'jimmy',
 'job',
 'joe',
 'john',
 'johnnydepp',
 'join',
 'joins',
 'jones',
 'journalist',
 'journey',
 'jungle',
 'just',
 'justice',
 'kevin',
 'key',
 'kid',
 'kidnapped',
 'kidnapping',
 'kids',
 'kill',
 'killed',
 'killer',
 'killers',
 'killing',
 'king',
 'kingdom',
 'knight',
 'know',
 'known',
 'knows',
 'la',
 'lake',
 'land',
 'late',
 'later',
 'latest',
 'law',
 'lawyer',
 'lead',
 'leader',
 'leading',
 'leads',
 'learn',
 'learns',
 'leave',
 'leaves',
 'leaving',
 'led',
 'lee',
 'left',
 'legend',
 'legendary',
 'letter',
 'lie',
 'lies',
 'life',
 'like',
 'line',
 'little',
 'live',
 'lives',
 'living',
 'll',
 'local',
 'london',
 'londonengland',
 'long',
 'look',
 'looking',
 'looks',
 'lord',
 'los',
 'losangeles',
 'lose',
 'loses',
 'losing',
 'loss',
 'lost',
 'love',
 'loveofone',
 'lover',
 'lovers',
 'loves',
 'luck',
 'machine',
 'mafia',
 'magic',
 'magical',
 'major',
 'make',
 'makes',
 'making',
 'male',
 'man',
 'manager',
 'manhattan',
 'mark',
 'marriage',
 'married',
 'martialarts',
 'martin',
 'marvelcomic',
 'master',
 'mattdamon',
 'max',
 'means',
 'meet',
 'meets',
 'member',
 'members',
 'memory',
 'men',
 'mexican',
 'mexico',
 'michael',
 'middle',
 'mike',
 'military',
 'million',
 'mind',
 'missing',
 'mission',
 'mob',
 'modern',
 'mom',
 'money',
 'monster',
 'months',
 'moon',
 'mother',
 'moves',
 'movie',
 'mr',
 'murder',
 'murdered',
 'murderer',
 'music',
 'musical',
 'musician',
 'mutant',
 'mysterious',
 'mystery',
 'named',
 'national',
 'nature',
 'nazis',
 'near',
 'nearly',
 'need',
 'needs',
 'neighbor',
 'neighborhood',
 'neo',
 'new',
 'newlove',
 'news',
 'newyork',
 'newyorkcity',
 'nick',
 'nicolascage',
 'night',
 'nightclub',
 'nightmare',
 'north',
 'notorious',
 'novel',
 'nuclear',
 'nudity',
 'nurse',
 'obsession',
 'ocean',
 'office',
 'officer',
 'old',
 'older',
 'operation',
 'opportunity',
 'order',
 'ordinary',
 'organization',
 'orphan',
 'overcome',
 'owner',
 'pair',
 'parents',
 'paris',
 'park',
 'partner',
 'party',
 'passion',
 'past',
 'path',
 'paul',
 'peace',
 'people',
 'perfect',
 'person',
 'personal',
 'peter',
 'pilot',
 'pirate',
 'place',
 'plan',
 'plane',
 'planet',
 'plans',
 'play',
 'player',
 'playing',
 'plays',
 'plot',
 'police',
 'political',
 'politics',
 'popular',
 'post',
 'power',
 'powerful',
 'powers',
 'pregnant',
 'president',
 'prevent',
 'priest',
 'prince',
 'princess',
 'prison',
 'private',
 'problem',
 'problems',
 'process',
 'producer',
 'professional',
 'professor',
 'prostitute',
 'protect',
 'prove',
 'psychiatrist',
 'psychopath',
 'puts',
 'queen',
 'quest',
 'question',
 'quickly',
 'race',
 'radio',
 'raised',
 'rape',
 'ray',
 'ready',
 'real',
 'reality',
 'realize',
 'realizes',
 'really',
 'recently',
 'red',
 'relationship',
 'relationships',
 'remake',
 'remote',
 'reporter',
 'rescue',
 'resistance',
 'rest',
 'restaurant',
 'retired',
 'return',
 'returns',
 'reunite',
 'revenge',
 'rich',
 'richard',
 'right',
 'ring',
 'rise',
 'rival',
 'rivalry',
 'road',
 'robbery',
 'robert',
 'robertdeniro',
 'robot',
 'rock',
 'role',
 'romance',
 'romantic',
 'romanticcomedy',
 'room',
 'run',
 'running',
 'runs',
 'russian',
 'ruthless',
 'ryan',
 'safe',
 'sam',
 'samuell',
 'san',
 'save',
 'savingtheworld',
 'scene',
 'scheme',
 'school',
 'sciencefiction',
 'scientist',
 'scott',
 'sea',
 'search',
 'second',
 'secret',
 'secretidentity',
 'secrets',
 'security',
 'seek',
 'seeking',
 'seemingly',
 'seen',
 'sees',
 'self',
 'sends',
 'sent',
 'sequel',
 'serial',
 'serialkiller',
 'series',
 'service',
 'set',
 'sets',
 'seven',
 'sex',
 'sexual',
 'share',
 'shark',
 'sheriff',
 'ship',
 'shootout',
 'shop',
 'shot',
 'shows',
 'singer',
 'single',
 'sister',
 'sistersisterrelationship',
 'situation',
 'skills',
 'slasher',
 'slave',
 'slife',
 'small',
 'smalltown',
 'smith',
 'snow',
 'social',
 'society',
 'soldier',
 'soldiers',
 'son',
 'soon',
 'soul',
 'south',
 'space',
 'special',
 'spirit',
 'spoof',
 'sport',
 'spy',
 'stand',
 'star',
 'stars',
 'start',
 'starts',
 'state',
 'states',
 'stay',
 'steal',
 'steve',
 'stolen',
 'stop',
 'store',
 'stories',
 'storm',
 'story',
 'stranded',
 'strange',
 'stranger',
 'street',
 'streets',
 'struggle',
 'struggles',
 'struggling',
 'student',
 'students',
 'success',
 'successful',
 'suddenly',
 'suicide',
 'summer',
 'super',
 'superhero',
 'supernatural',
 'superpowers',
 'survival',
 'survive',
 'survivors',
 'suspense',
 'taken',
 'takes',
 'taking',
 'tale',
 'talent',
 'target',
 'teacher',
 'team',
 'teams',
 'technology',
 'teen',
 'teenage',
 'teenager',
 'television',
 'tells',
 'terrifying',
 'terror',
 'terrorist',
 'test',
 'texas',
 'thief',
 'thing',
 'things',
 'thinks',
 'thought',
 'threatens',
 'thriller',
 'time',
 'times',
 'timetravel',
 'told',
 'tom',
 'tomhanks',
 'torture',
 'tough',
 'tour',
 'town',
 'track',
 'tragedy',
 'train',
 'training',
 'trapped',
 'travel',
 'travels',
 'tries',
 'trip',
 'trouble',
 'troubled',
 'true',
 'truth',
 'try',
 'trying',
 'turn',
 'turned',
 'turns',
 'tv',
 'ultimate',
 'ultimately',
 'uncle',
 'uncover',
 'undercover',
 'underground',
 'underworld',
 'unexpected',
 'united',
 'university',
 'unlikely',
 'upside',
 'usa',
 'usapresident',
 'use',
 'uses',
 'using',
 'vacation',
 'vampire',
 'van',
 'various',
 've',
 'vegas',
 'veteran',
 'victim',
 'video',
 'village',
 'villain',
 'violence',
 'violent',
 'virus',
 'visit',
 'waitress',
 'want',
 'wants',
 'war',
 'warrior',
 'water',
 'way',
 'ways',
 'wealthy',
 'weapon',
 'wedding',
 'werewolf',
 'west',
 'western',
 'white',
 'widow',
 'wife',
 'wifehusbandrelationship',
 'wild',
 'wilderness',
 'win',
 'winning',
 'winter',
 'witch',
 'witness',
 'woman',
 'womandirector',
 'women',
 'won',
 'woods',
 'woodyallen',
 'work',
 'worker',
 'working',
 'works',
 'world',
 'worldwarii',
 'worse',
 'writer',
 'wrong',
 'year',
 'years',
 'york',
 'young',
 'younger',
 'youth',
 'zombie']

### Word Stemming

This process finds to root form of a word (which may not always result in meaningful words) by removing all possible suffixes. 

For example 'change', 'changing', 'changes', 'changed' - all get stemmed as 'chang'

This helps in better classifying the tags of a recommendation system

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import PorterStemmer 
ps = PorterStemmer()

In [ ]:
def stem(text):
  Y =[]
  for i in text.split():
    Y.append(ps.stem(i))
  return " ".join(Y)

Working example

In [ ]:
df['tags'][0]

'action adventure fantasy sciencefiction in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [ ]:
stem('action adventure fantasy sciencefiction in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

'action adventur fantasi sciencefict in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [ ]:
df['tags'] = df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.head()

,movie_id,title,tags
0,19995,Avatar,action adventur fantasi sciencefict in the 22n...
1,285,Pirates of the Caribbean: At World's End,"adventur fantasi action captain barbossa, long..."
2,206647,Spectre,action adventur crime a cryptic messag from bo...
3,49026,The Dark Knight Rises,action crime drama thriller follow the death o...
4,49529,John Carter,action adventur sciencefict john carter is a w...

In [ ]:
cv = CountVectorizer(max_features = 1000, stop_words = 'english')

In [ ]:
vecs = cv.fit_transform(df['tags']).toarray()

In [ ]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '10',
 '1950',
 '1970',
 '3d',
 'abandon',
 'abus',
 'accept',
 'accid',
 'accident',
 'act',
 'action',
 'actor',
 'actual',
 'adapt',
 'addict',
 'adopt',
 'adulteri',
 'adventur',
 'affair',
 'affect',
 'africa',
 'african',
 'aftercreditssting',
 'age',
 'agent',
 'ago',
 'agre',
 'aid',
 'airplan',
 'alcohol',
 'alex',
 'alien',
 'alive',
 'alli',
 'allow',
 'alway',
 'america',
 'american',
 'ancient',
 'angel',
 'angeles',
 'ani',
 'anim',
 'anoth',
 'answer',
 'anyth',
 'apart',
 'apocalypt',
 'appear',
 'arm',
 'armi',
 'arrest',
 'arriv',
 'art',
 'artist',
 'ask',
 'aspir',
 'assassin',
 'assign',
 'assist',
 'astronaut',
 'attack',
 'attempt',
 'attract',
 'author',
 'away',
 'babi',
 'bad',
 'band',
 'bank',
 'bar',
 'base',
 'basebal',
 'basedoncomicbook',
 'basedonnovel',
 'basedontruestori',
 'basedonyoungadultnovel',
 'basketbal',
 'battl',
 'beach',
 'bear',
 'beat',
 'beauti',
 'becaus',
 'becom',
 'befor',
 'befriend',
 'begin',
 'believ',
 'belov',
 'ben',
 'benstil',
 'berlin',
 'best',
 'bestfriend',
 'betray',
 'better',
 'big',
 'biographi',
 'birthday',
 'black',
 'blackmail',
 'blood',
 'bodi',
 'bomb',
 'bond',
 'book',
 'born',
 'boss',
 'box',
 'boy',
 'boyfriend',
 'break',
 'bring',
 'british',
 'brother',
 'brotherbrotherrelationship',
 'brothersisterrelationship',
 'brucewilli',
 'brutal',
 'buddi',
 'build',
 'busi',
 'businessman',
 'california',
 'camp',
 'cancer',
 'captain',
 'captur',
 'car',
 'care',
 'career',
 'carri',
 'case',
 'cast',
 'cat',
 'catch',
 'caught',
 'caus',
 'celebr',
 'center',
 'centuri',
 'century',
 'challeng',
 'chanc',
 'chang',
 'charact',
 'charg',
 'charli',
 'chase',
 'chicago',
 'child',
 'childhood',
 'children',
 'china',
 'christian',
 'christma',
 'church',
 'cia',
 'citi',
 'city',
 'civil',
 'claim',
 'class',
 'classic',
 'clinteastwood',
 'close',
 'club',
 'coach',
 'collect',
 'colleg',
 'come',
 'comedi',
 'comic',
 'comingofag',
 'command',
 'commit',
 'commun',
 'compani',
 'compet',
 'competit',
 'complet',
 'complic',
 'comput',
 'confront',
 'connect',
 'conspiraci',
 'continu',
 'control',
 'convict',
 'convinc',
 'cop',
 'corpor',
 'corrupt',
 'countri',
 'country',
 'coupl',
 'courag',
 'cours',
 'court',
 'cover',
 'crash',
 'creat',
 'creatur',
 'crew',
 'crime',
 'crimin',
 'cross',
 'crush',
 'curs',
 'dad',
 'danc',
 'dancer',
 'danger',
 'danni',
 'dark',
 'date',
 'daughter',
 'david',
 'day',
 'dead',
 'deadli',
 'deal',
 'dealer',
 'death',
 'decid',
 'deep',
 'defeat',
 'defend',
 'demand',
 'demon',
 'desert',
 'desir',
 'desper',
 'despit',
 'destroy',
 'detect',
 'determin',
 'develop',
 'die',
 'differ',
 'dinosaur',
 'direct',
 'director',
 'disappear',
 'discov',
 'discoveri',
 'divorc',
 'doctor',
 'documentari',
 'doe',
 'doesn',
 'dog',
 'don',
 'door',
 'dr',
 'dragon',
 'drama',
 'drawn',
 'dream',
 'drink',
 'drive',
 'driver',
 'drug',
 'drugdeal',
 'dure',
 'duringcreditssting',
 'dyinganddeath',
 'dystopia',
 'earli',
 'earth',
 'east',
 'eccentr',
 'effort',
 'elit',
 'embark',
 'emot',
 'encount',
 'end',
 'enemi',
 'engag',
 'england',
 'english',
 'enlist',
 'enter',
 'entir',
 'epic',
 'escap',
 'especi',
 'estrang',
 'eve',
 'event',
 'eventu',
 'everi',
 'everyon',
 'everyth',
 'evil',
 'ex',
 'execut',
 'exist',
 'experi',
 'explor',
 'explos',
 'expos',
 'extrem',
 'eye',
 'face',
 'fail',
 'faith',
 'fall',
 'fame',
 'famili',
 'family',
 'famou',
 'fantasi',
 'far',
 'farm',
 'fast',
 'fate',
 'father',
 'fathersonrelationship',
 'fbi',
 'fear',
 'featur',
 'feel',
 'fellow',
 'femal',
 'femalenud',
 'fiction',
 'fight',
 'fighter',
 'figur',
 'film',
 'filmmak',
 'final',
 'flashback',
 'fli',
 'florida',
 'follow',
 'food',
 'forc',
 'foreign',
 'forest',
 'forever',
 'form',
 'franc',
 'frank',
 'free',
 'freedom',
 'french',
 'friend',
 'friends',
 'friendship',
 'funer',
 'futur',
 'future',
 'game',
 'gang',
 'gangster',
 'gay',
 'gener',
 'georg',
 'ghost',
 'gift',
 'girl',
 'girlfriend',
 'global',
 'god',
 'goe',
 'gold',
 'gone',
 'good',
 'gore',
 'govern',
 'graduat',
 'great',
 'greatest',
 'green',
 'group',
 'grow',
 'grown',
 'guard',
 'gun',
 'guy',
 'ha',
 'half',
 'hand',
 'happen',
 'happi',
 'hard',
 'harri',
 'haunt',
 'head',
 'heart',
 'heist',
 'helicopt',
 'hell',
 'help',
 'henri',
 'hero',
 'hi',
 'hide',
 'high',
 'highschool',
 'hip',
 'hire',
 'histori',
 'hit',
 'hitman',
 'hold',
 'holiday',
 'hollywood',
 'home',
 'hometown',
 'hop',
 'hope',
 'horror',
 'hors',
 'hospit',
 'hostag',
 'hot',
 'hotel',
 'hour',
 'hous',
 'house',
 'human',
 'hunt',
 'hunter',
 'husband',
 'ice',
 'idea',
 'ident',
 'ii',
 'ill',
 'immigr',
 'includ',
 'independentfilm',
 'india',
 'indian',
 'infidel',
 'innoc',
 'insid',
 'inspir',
 'instead',
 'intellig',
 'intern',
 'interview',
 'inventor',
 'investig',
 'invit',
 'involv',
 'irish',
 'island',
 'isn',
 'isol',
 'jack',
 'jackson',
 'jail',
 'jame',
 'japan',
 'jason',
 'jealousi',
 'jean',
 'jewish',
 'jim',
 'jimmi',
 'job',
 'joe',
 'john',
 'join',
 'journalist',
 'journey',
 'jungl',
 'just',
 'justic',
 'kevin',
 'key',
 'kid',
 'kidnap',
 'kids',
 'kill',
 'killer',
 'king',
 'kingdom',
 'knight',
 'know',
 'known',
 'la',
 'lake',
 'land',
 'late',
 'later',
 'latest',
 'law',
 'lawyer',
 'lead',
 'leader',
 'learn',
 'leav',
 'led',
 'lee',
 'left',
 'legend',
 'legendari',
 'letter',
 'lie',
 'life',
 'light',
 'like',
 'line',
 'littl',
 'live',
 'lives',
 'll',
 'lo',
 'local',
 'london',
 'londonengland',
 'lone',
 'long',
 'look',
 'lord',
 'losangel',
 'lose',
 'lost',
 'love',
 'loveofone',
 'lover',
 'luck',
 'mad',
 'mafia',
 'magic',
 'major',
 'make',
 'male',
 'man',
 'manag',
 'mani',
 'mark',
 'marri',
 'marriag',
 'martialart',
 'martin',
 'marvelcom',
 'mask',
 'master',
 'match',
 'mattdamon',
 'max',
 'mean',
 'medic',
 'meet',
 'member',
 'memori',
 'men',
 'mental',
 'mercenari',
 'mexican',
 'mexico',
 'michael',
 'middl',
 'mike',
 'militari',
 'million',
 'mind',
 'miss',
 'mission',
 'mob',
 'mobster',
 'modern',
 'mom',
 'money',
 'monster',
 'month',
 'mother',
 'mountain',
 'movi',
 'movie',
 'mr',
 'murder',
 'music',
 'musician',
 'mutant',
 'mysteri',
 'nation',
 'natur',
 'nazi',
 'near',
 'need',
 'neighbor',
 'neighborhood',
 'neo',
 'new',
 'newlov',
 'newyork',
 'newyorkc',
 'nick',
 'nicolascag',
 'night',
 'nightclub',
 'nightmar',
 'noth',
 'notori',
 'novel',
 'nuclear',
 'nuditi',
 'number',
 'obsess',
 'ocean',
 'offer',
 'offic',
 'old',
 'older',
 'onc',
 'onli',
 'open',
 'oper',
 'opportun',
 'order',
 'ordinari',
 'organ',
 'origin',
 'orphan',
 'outlaw',
 'overcom',
 'owner',
 'pair',
 'pal',
 'parent',
 'parents',
 'pari',
 'park',
 'parti',
 'partner',
 'pass',
 'passion',
 'past',
 'path',
 'paul',
 'pay',
 'peac',
 'peopl',
 'people',
 'perfect',
 'perform',
 'person',
 'peter',
 'photograph',
 'pilot',
 'pirat',
 'place',
 'plan',
 'plane',
 'planet',
 'play',
 'player',
 'plot',
 'point',
 'polic',
 'polit',
 'politician',
 'popular',
 'possess',
 'possibl',
 'post',
 'power',
 'pregnant',
 'prepar',
 'present',
 'presid',
 'prevent',
 'priest',
 'princ',
 'princess',
 'prison',
 'privat',
 'problem',
 'process',
 'produc',
 'profession',
 'professor',
 'program',
 'promis',
 'prostitut',
 'protect',
 'prove',
 'psychiatrist',
 'psychopath',
 'public',
 'pull',
 'pursu',
 'queen',
 'quest',
 'question',
 'quickli',
 'race',
 'radio',
 'rais',
 'rape',
 'ray',
 'reach',
 'readi',
 'real',
 'realiti',
 'realiz',
 'realli',
 'rebel',
 'receiv',
 'recent',
 'record',
 'recov',
 'recruit',
 'relationship',
 'releas',
 'remain',
 'remak',
 'remot',
 'report',
 'rescu',
 'research',
 'resid',
 'resist',
 'respons',
 'rest',
 'restaur',
 'result',
 'retir',
 'return',
 'reunit',
 'reveal',
 'reveng',
 'revenge',
 'rich',
 'richard',
 'ride',
 'right',
 'ring',
 'rise',
 'risk',
 'rival',
 'rivalri',
 'road',
 'rob',
 'robberi',
 'robert',
 'robertdeniro',
 'robot',
 'rock',
 'role',
 'romanc',
 'romant',
 'romanticcomedi',
 'room',
 'rule',
 'run',
 'russian',
 'ruthless',
 'ryan',
 'safe',
 'sam',
 'samuell',
 'san',
 'save',
 'savingtheworld',
 'scene',
 'scheme',
 'school',
 'sciencefict',
 'scientist',
 'scott',
 'sea',
 'search',
 'season',
 'second',
 'secret',
 'secretident',
 'secur',
 'seek',
 'seemingli',
 'seen',
 'self',
 'sell',
 'send',
 'sent',
 'separ',
 'sequel',
 'seri',
 'serial',
 'serialkil',
 'serv',
 'servic',
 'set',
 'seven',
 'sever',
 'sex',
 'sexual',
 'share',
 'shark',
 'sheriff',
 'ship',
 'shock',
 'shootout',
 'shop',
 'shot',
 'sign',
 'sinc',
 'singer',
 'singl',
 'sister',
 'sistersisterrelationship',
 'situat',
 'skill',
 'slasher',
 'slave',
 'slif',
 'small',
 'smalltown',
 'snow',
 'social',
 'societi',
 'soldier',
 'someth',
 'son',
 'soon',
 'soul',
 'south',
 'space',
 'special',
 'spend',
 'spi',
 'spirit',
 'spoof',
 'sport',
 'stage',
 'stand',
 'star',
 'start',
 'state',
 'station',
 'stay',
 'steal',
 'step',
 'steve',
 'stolen',
 'stop',
 'store',
 'stori',
 'storm',
 'story',
 'strand',
 'strang',
 'stranger',
 'street',
 'strike',
 'struggl',
 'student',
 'stumbl',
 'success',
 'suddenli',
 'suffer',
 'suicid',
 'summer',
 'superhero',
 'supernatur',
 'superpow',
 'surpris',
 'surviv',
 'survivor',
 'suspect',
 'suspens',
 'taken',
 'tale',
 'talent',
 'talk',
 'target',
 'task',
 'teach',
 'teacher',
 'team',
 'technolog',
 'teen',
 'teenag',
 'televis',
 'tell',
 'terrifi',
 'terror',
 'terrorist',
 'test',
 'texa',
 'themselv',
 'thi',
 'thief',
 'thing',
 'think',
 'thought',
 'threat',
 'threaten',
 'thriller',
 'tim',
 'time',
 'timetravel',
 'togeth',
 'told',
 'tom',
 'tortur',
 'tough',
 'tour',
 'town',
 'track',
 'tragedi',
 'train',
 'transform',
 'transport',
 'trap',
 'travel',
 'tri',
 'trial',
 'trip',
 'troubl',
 'true',
 'trust',
 'truth',
 'turn',
 'tv',
 'twin',
 'ultim',
 'uncl',
 'uncov',
 'undercov',
 'underground',
 'underworld',
 'unexpect',
 'unit',
 'univers',
 'unlik',
 'usa',
 'usapresid',
 'use',
 'vacat',
 'vampir',
 'van',
 'variou',
 'veri',
 'veteran',
 'victim',
 'video',
 'villag',
 'villain',
 'violenc',
 'violent',
 'virgin',
 'viru',
 'visit',
 'wa',
 'wait',
 'wake',
 'walk',
 'wall',
 'want',
 'war',
 'warrior',
 'watch',
 'water',
 'way',
 'wealthi',
 'weapon',
 'wed',
 'week',
 'west',
 'western',
 'white',
 'widow',
 'wife',
 'wifehusbandrelationship',
 'wild',
 'william',
 'win',
 'winter',
 'wish',
 'wit',
 'witch',
 'woman',
 'womandirector',
 'women',
 'won',
 'woodyallen',
 'work',
 'worker',
 'world',
 'worldwarii',
 'writer',
 'wrong',
 'year',
 'years',
 'york',
 'young',
 'younger',
 'youth',
 'zombi']

Each of the obtained features are now semantically unique

## 3. Finding similarities

Once vectors have been established, similarities between movies can be judges based on distance between these vectors

### Distance metrics

As dimensions of the vector space increase, euclidean metrics fail to provide accurate results. Thus, we calculate cosine distance between these vectors (i.e., the angle between them)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
smlty = cosine_similarity(vecs)

In [ ]:
smlty

array([[1.        , 0.14638501, 0.14285714, ..., 0.07079923, 0.        ,
        0.        ],
       [0.14638501, 1.        , 0.09759001, ..., 0.03627381, 0.        ,
        0.0438529 ],
       [0.14285714, 0.09759001, 1.        , ..., 0.03539962, 0.        ,
        0.        ],
       ...,
       [0.07079923, 0.03627381, 0.03539962, ..., 1.        , 0.06243905,
        0.06362848],
       [0.        , 0.        , 0.        , ..., 0.06243905, 1.        ,
        0.15097027],
       [0.        , 0.0438529 , 0.        , ..., 0.06362848, 0.15097027,
        1.        ]])

In [ ]:
smlty.shape

(4806, 4806)

This provides an array with values ranging between 0 and 1 where 0 represents least similarity and 1 represents the most similarity.

In a single row, each value depicts cosine similarity between all 937 items. Thus the matrix shows cosine similarity values of all 937 items from each of the 937 items in the total set.

## 4. Building a Recommender function

Based on the obtained cosine similarities, we rank the movies based on the cosine similarity values and extract the top 10 movies that stand most similar to a given one.

For example, if we try ranking the most similar movies to the first movie on our list ...

In [ ]:
list(enumerate(smlty[0]))

[(0, 1.0),
 (1, 0.14638501094227996),
 (2, 0.14285714285714288),
 (3, 0.13977131156292244),
 (4, 0.2939723678960656),
 (5, 0.21821789023599242),
 (6, 0.07597371763975865),
 (7, 0.20261022461827694),
 (8, 0.09304842103984708),
 (9, 0.16208817969462155),
 (10, 0.1543033499620919),
 (11, 0.14547859349066158),
 (12, 0.15018785229652765),
 (13, 0.0681598176590997),
 (14, 0.20619652471058064),
 (15, 0.11572751247156893),
 (16, 0.13650472655798704),
 (17, 0.20982172726556325),
 (18, 0.14204774743178405),
 (19, 0.17118419700436519),
 (20, 0.08518354199999201),
 (21, 0.17817416127494962),
 (22, 0.12104550653376049),
 (23, 0.15018785229652765),
 (24, 0.09100315103865803),
 (25, 0.06172133998483677),
 (26, 0.24313226954193232),
 (27, 0.3144854510165755),
 (28, 0.17817416127494962),
 (29, 0.10762440050012628),
 (30, 0.11065666703449761),
 (31, 0.2253744679276044),
 (32, 0.14969623771302393),
 (33, 0.15877683720748895),
 (34, 0.0),
 (35, 0.18156825980064073),
 (36, 0.22454435656953592),
 (37, 0.1690308509457033),
 (38, 0.11461365101225056),
 (39, 0.1283881477532739),
 (40, 0.11757927025044308),
 (41, 0.2545875386086578),
 (42, 0.0),
 (43, 0.15936381457791915),
 (44, 0.0563436169819011),
 (45, 0.14754222271266348),
 (46, 0.21398024625545647),
 (47, 0.2182178902359924),
 (48, 0.13012000972647111),
 (49, 0.09759000729485331),
 (50, 0.17457431218879393),
 (51, 0.13977131156292244),
 (52, 0.16798421022632323),
 (53, 0.08247860988423225),
 (54, 0.042796049251091296),
 (55, 0.10826639239215337),
 (56, 0.2182178902359924),
 (57, 0.03407990882954985),
 (58, 0.10350983390135313),
 (59, 0.12598815766974242),
 (60, 0.02793993781135563),
 (61, 0.3818813079129867),
 (62, 0.12598815766974242),
 (63, 0.1363196353181994),
 (64, 0.05006261743217588),
 (65, 0.04052204492365539),
 (66, 0.033671751485073696),
 (67, 0.3003757045930553),
 (68, 0.19738550848793068),
 (69, 0.03919309008348103),
 (70, 0.13957263155977062),
 (71, 0.12598815766974242),
 (72, 0.2503130871608794),
 (73, 0.0545544725589981),
 (74, 0.3471825374147068),
 (75, 0.13363062095621223),
 (76, 0.10762440050012628),
 (77, 0.024246432248443597),
 (78, 0.09100315103865803),
 (79, 0.10482848367219183),
 (80, 0.07229440390678198),
 (81, 0.17192047651837583),
 (82, 0.13650472655798704),
 (83, 0.2020305089104422),
 (84, 0.19518001458970666),
 (85, 0.17078251276599332),
 (86, 0.13093073414159545),
 (87, 0.1904761904761905),
 (88, 0.13093073414159545),
 (89, 0.09523809523809525),
 (90, 0.1091089451179962),
 (91, 0.29277002188455997),
 (92, 0.09549105211188456),
 (93, 0.13093073414159545),
 (94, 0.23809523809523814),
 (95, 0.21398024625545647),
 (96, 0.12371791482634838),
 (97, 0.11572751247156893),
 (98, 0.15018785229652765),
 (99, 0.04652421051992354),
 (100, 0.12104550653376049),
 (101, 0.11757927025044308),
 (102, 0.2152488010002526),
 (103, 0.1315903389919538),
 (104, 0.10286889997472795),
 (105, 0.1690308509457033),
 (106, 0.10223972648864955),
 (107, 0.10910894511799618),
 (108, 0.21239769762143662),
 (109, 0.1126872339638022),
 (110, 0.07838618016696206),
 (111, 0.22792115291927592),
 (112, 0.1336306209562122),
 (113, 0.07484811885651196),
 (114, 0.07838618016696206),
 (115, 0.07079923254047887),
 (116, 0.07079923254047887),
 (117, 0.10585122480499264),
 (118, 0.06366070140792304),
 (119, 0.07715167498104596),
 (120, 0.0),
 (121, 0.20025046972870353),
 (122, 0.17817416127494962),
 (123, 0.19920476822239894),
 (124, 0.09652341781316803),
 (125, 0.12598815766974242),
 (126, 0.21398024625545647),
 (127, 0.2182178902359924),
 (128, 0.0),
 (129, 0.14349920066683505),
 (130, 0.03919309008348103),
 (131, 0.16208817969462155),
 (132, 0.07174960033341753),
 (133, 0.05006261743217588),
 (134, 0.2057377999494559),
 (135, 0.0),
 (136, 0.041239304942116126),
 (137, 0.0549857399228215),
 (138, 0.19596545041740515),
 (139, 0.19098210422376913),
 (140, 0.06900655593423542),
 (141, 0.15430334996209194),
 (142, 0.15018785229652765),
 (143, 0.13801311186847084),
 (144, 0.07838618016696206),
 (145, 0.03289758474798845),
 (146, 0.023395413544786546),
 (147, 0.10286889997472795),
 (148, 0.1749635530559413),
 (149, 0.22047927592204924),
 (150, 0.27500954910846337),
 (151, 0.3947710169758614),
 (152, 0.1283881477532739),
 (153, 0.1286978904175574),
 (154, 0.10286889997472795),
 (155, 0.03494282789073061),
 (156, 0.11065666703449761),
 (157, 0.18156825980064073),
 (158, 0.19920476822239894),
 (159, 0.14547859349066158),
 (160, 0.17407765595569785),
 (161, 0.0545544725589981),
 (162, 0.0545544725589981),
 (163, 0.08908708063747481),
 (164, 0.14285714285714288),
 (165, 0.08104408984731078),
 (166, 0.1928791874526149),
 (167, 0.15018785229652765),
 (168, 0.26590801173915524),
 (169, 0.14159846508095775),
 (170, 0.18712029714127992),
 (171, 0.03539961627023944),
 (172, 0.3380617018914066),
 (173, 0.044543540318737404),
 (174, 0.12598815766974242),
 (175, 0.1336306209562122),
 (176, 0.04652421051992354),
 (177, 0.0),
 (178, 0.03798685881987932),
 (179, 0.1091089451179962),
 (180, 0.03688555567816587),
 (181, 0.08908708063747481),
 (182, 0.181848241863327),
 (183, 0.11561466260321601),
 (184, 0.28867513459481287),
 (185, 0.08247860988423225),
 (186, 0.11952286093343936),
 (187, 0.23145502494313788),
 (188, 0.036369648372665396),
 (189, 0.19738550848793068),
 (190, 0.1363196353181994),
 (191, 0.07838618016696206),
 (192, 0.09304842103984708),
 (193, 0.11565525051480625),
 (194, 0.0),
 (195, 0.08908708063747481),
 (196, 0.08728715609439697),
 (197, 0.0563436169819011),
 (198, 0.09100315103865803),
 (199, 0.1567723603339241),
 (200, 0.18898223650461363),
 (201, 0.0),
 (202, 0.05292561240249632),
 (203, 0.13650472655798704),
 (204, 0.09523809523809525),
 (205, 0.13801311186847084),
 (206, 0.1649572197684645),
 (207, 0.15018785229652765),
 (208, 0.3086066999241838),
 (209, 0.11664236870396087),
 (210, 0.14638501094227996),
 (211, 0.04199605255658081),
 (212, 0.11227217828476795),
 (213, 0.09652341781316803),
 (214, 0.0),
 (215, 0.10762440050012628),
 (216, 0.11664236870396087),
 (217, 0.14547859349066158),
 (218, 0.058321184351980436),
 (219, 0.15877683720748895),
 (220, 0.29277002188455997),
 (221, 0.08247860988423225),
 (222, 0.12344267996967354),
 (223, 0.18609684207969415),
 (224, 0.09652341781316803),
 (225, 0.07715167498104596),
 (226, 0.0545544725589981),
 (227, 0.15018785229652765),
 (228, 0.18442777839082936),
 (229, 0.22454435656953592),
 (230, 0.17471413945365305),
 (231, 0.0),
 (232, 0.17817416127494962),
 (233, 0.20701966780270625),
 (234, 0.13801311186847084),
 (235, 0.11757927025044308),
 (236, 0.09304842103984708),
 (237, 0.10585122480499264),
 (238, 0.2020305089104422),
 (239, 0.1591517535198076),
 (240, 0.09304842103984708),
 (241, 0.13957263155977062),
 (242, 0.14285714285714288),
 (243, 0.18609684207969415),
 (244, 0.15430334996209194),
 (245, 0.13957263155977062),
 (246, 0.11769797726729994),
 (247, 0.0),
 (248, 0.07597371763975865),
 (249, 0.2253744679276044),
 (250, 0.0),
 (251, 0.07273929674533079),
 (252, 0.03539961627023944),
 (253, 0.11757927025044308),
 (254, 0.08559209850218259),
 (255, 0.0),
 (256, 0.19738550848793068),
 (257, 0.07838618016696206),
 (258, 0.03183035070396152),
 (259, 0.10585122480499264),
 (260, 0.2618614682831909),
 (261, 0.041239304942116126),
 (262, 0.18712029714127992),
 (263, 0.1749635530559413),
 (264, 0.0),
 (265, 0.04761904761904762),
 (266, 0.14349920066683505),
 (267, 0.11664236870396087),
 (268, 0.08559209850218259),
 (269, 0.04652421051992354),
 (270, 0.13801311186847084),
 (271, 0.13650472655798704),
 (272, 0.04761904761904762),
 (273, 0.03289758474798845),
 (274, 0.14306584587982538),
 (275, 0.22750787759664506),
 (276, 0.1126872339638022),
 (277, 0.09166984970282113),
 (278, 0.13957263155977062),
 (279, 0.11227217828476795),
 (280, 0.0),
 (281, 0.08559209850218259),
 (282, 0.03183035070396152),
 (283, 0.0),
 (284, 0.03289758474798845),
 (285, 0.03289758474798845),
 (286, 0.11989812986603614),
 (287, 0.044543540318737404),
 (288, 0.05292561240249632),
 (289, 0.06988565578146122),
 (290, 0.10585122480499264),
 (291, 0.09523809523809525),
 (292, 0.1283881477532739),
 (293, 0.04879500364742666),
 (294, 0.20998026278290405),
 (295, 0.1649572197684645),
 (296, 0.0657951694959769),
 (297, 0.08247860988423225),
 (298, 0.0),
 (299, 0.13093073414159545),
 (300, 0.23904572186687872),
 (301, 0.14712247158412492),
 (302, 0.15018785229652765),
 (303, 0.05006261743217588),
 (304, 0.0939060283031685),
 (305, 0.34188172937891387),
 (306, 0.13093073414159545),
 (307, 0.19399589841579265),
 (308, 0.10286889997472795),
 (309, 0.08728715609439697),
 (310, 0.05587987562271126),
 (311, 0.1283881477532739),
 (312, 0.1336306209562122),
 (313, 0.07838618016696206),
 (314, 0.0),
 (315, 0.13957263155977062),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.1636634176769943),
 (320, 0.0563436169819011),
 (321, 0.0),
 (322, 0.3415650255319866),
 (323, 0.04879500364742666),
 (324, 0.04550157551932901),
 (325, 0.14638501094227999),
 (326, 0.10585122480499264),
 (327, 0.051434449987363975),
 (328, 0.04652421051992354),
 (329, 0.13957263155977062),
 (330, 0.20025046972870353),
 (331, 0.13977131156292244),
 (332, 0.19518001458970663),
 (333, 0.03919309008348103),
 (334, 0.15936381457791915),
 (335, 0.08399210511316162),
 (336, 0.12598815766974242),
 (337, 0.07377111135633174),
 (338, 0.0),
 (339, 0.07377111135633174),
 (340, 0.09100315103865803),
 (341, 0.11952286093343936),
 (342, 0.24549512651549144),
 (343, 0.03984095364447979),
 (344, 0.05292561240249632),
 (345, 0.036369648372665396),
 (346, 0.0),
 (347, 0.0),
 (348, 0.1126872339638022),
 (349, 0.13957263155977062),
 (350, 0.08247860988423225),
 (351, 0.0),
 (352, 0.044543540318737404),
 (353, 0.06734350297014739),
 (354, 0.036369648372665396),
 (355, 0.06172133998483677),
 (356, 0.15430334996209194),
 (357, 0.0),
 (358, 0.10012523486435176),
 (359, 0.05006261743217588),
 (360, 0.03289758474798845),
 (361, 0.1283881477532739),
 (362, 0.15018785229652765),
 (363, 0.1591517535198076),
 (364, 0.03688555567816587),
 (365, 0.13650472655798704),
 (366, 0.09100315103865803),
 (367, 0.0),
 (368, 0.2057377999494559),
 (369, 0.15018785229652765),
 (370, 0.07838618016696206),
 (371, 0.17817416127494962),
 (372, 0.07377111135633174),
 (373, 0.29095718698132317),
 (374, 0.06655583256397218),
 (375, 0.06655583256397218),
 (376, 0.07968190728895957),
 (377, 0.0),
 (378, 0.0),
 (379, 0.09652341781316803),
 (380, 0.09100315103865803),
 (381, 0.1315903389919538),
 (382, 0.0),
 (383, 0.07484811885651196),
 (384, 0.0563436169819011),
 (385, 0.0),
 (386, 0.03587480016670876),
 (387, 0.04052204492365539),
 (388, 0.0),
 (389, 0.1636634176769943),
 (390, 0.04761904761904762),
 (391, 0.08522864845907044),
 (392, 0.04761904761904762),
 (393, 0.0),
 (394, 0.04550157551932901),
 (395, 0.08104408984731078),
 (396, 0.07484811885651196),
 (397, 0.09304842103984708),
 (398, 0.0),
 (399, 0.03742405942825598),
 (400, 0.1336306209562122),
 (401, 0.04550157551932901),
 (402, 0.13650472655798704),
 (403, 0.11989812986603615),
 (404, 0.04652421051992354),
 (405, 0.10585122480499264),
 (406, 0.03587480016670876),
 (407, 0.043643578047198484),
 (408, 0.0545544725589981),
 (409, 0.0),
 (410, 0.14754222271266348),
 (411, 0.08908708063747481),
 (412, 0.17817416127494962),
 (413, 0.23262105259961768),
 (414, 0.04652421051992354),
 (415, 0.06734350297014739),
 (416, 0.08728715609439697),
 (417, 0.058321184351980436),
 (418, 0.060522753266880246),
 (419, 0.11227217828476795),
 (420, 0.17471413945365305),
 (421, 0.03798685881987932),
 (422, 0.21821789023599236),
 (423, 0.03539961627023944),
 (424, 0.0657951694959769),
 (425, 0.10619884881071831),
 (426, 0.09258200997725516),
 (427, 0.051434449987363975),
 (428, 0.11227217828476795),
 (429, 0.0),
 (430, 0.07273929674533079),
 (431, 0.042796049251091296),
 (432, 0.18442777839082936),
 (433, 0.04652421051992354),
 (434, 0.0),
 (435, 0.060522753266880246),
 (436, 0.0),
 (437, 0.043643578047198484),
 (438, 0.03919309008348103),
 (439, 0.04199605255658081),
 (440, 0.044543540318737404),
 (441, 0.08247860988423225),
 (442, 0.07174960033341753),
 (443, 0.09983374884595828),
 (444, 0.0),
 (445, 0.1567723603339241),
 (446, 0.03857583749052298),
 (447, 0.11227217828476795),
 (448, 0.03253000243161778),
 (449, 0.16208817969462155),
 (450, 0.031173984319427483),
 (451, 0.04652421051992354),
 (452, 0.043643578047198484),
 (453, 0.05006261743217588),
 (454, 0.22750787759664506),
 (455, 0.10350983390135313),
 (456, 0.07377111135633174),
 (457, 0.1336306209562122),
 (458, 0.06900655593423542),
 (459, 0.04879500364742666),
 (460, 0.03688555567816587),
 (461, 0.2727723627949905),
 (462, 0.050734628943184104),
 (463, 0.05006261743217588),
 (464, 0.0),
 (465, 0.0),
 (466, 0.2253744679276044),
 (467, 0.19596545041740515),
 (468, 0.05006261743217588),
 (469, 0.09449111825230681),
 (470, 0.08399210511316162),
 (471, 0.09352195295828244),
 (472, 0.16208817969462155),
 (473, 0.16798421022632323),
 (474, 0.0),
 (475, 0.07273929674533079),
 (476, 0.14638501094227996),
 (477, 0.0),
 (478, 0.09983374884595828),
 (479, 0.12770236105969923),
 (480, 0.1567723603339241),
 (481, 0.0),
 (482, 0.03217447260438935),
 (483, 0.18609684207969415),
 (484, 0.05006261743217588),
 (485, 0.09304842103984708),
 (486, 0.11765520133375293),
 (487, 0.21170244960998527),
 (488, 0.08992359739952711),
 (489, 0.0),
 (490, 0.23328473740792174),
 (491, 0.16265001215808889),
 (492, 0.10762440050012628),
 (493, 0.04706208053350117),
 (494, 0.0),
 (495, 0.3003757045930553),
 (496, 0.0),
 (497, 0.0),
 (498, 0.10585122480499264),
 (499, 0.0),
 (500, 0.04652421051992354),
 (501, 0.12222646627042817),
 (502, 0.24313226954193234),
 (503, 0.1283881477532739),
 (504, 0.0),
 (505, 0.21170244960998527),
 (506, 0.0657951694959769),
 (507, 0.5039526306789696),
 (508, 0.18609684207969415),
 (509, 0.03742405942825598),
 (510, 0.1649572197684645),
 (511, 0.15877683720748895),
 (512, 0.05292561240249632),
 (513, 0.1126872339638022),
 (514, 0.07838618016696206),
 (515, 0.042796049251091296),
 (516, 0.05006261743217588),
 (517, 0.0),
 (518, 0.07597371763975865),
 (519, 0.0),
 (520, 0.0),
 (521, 0.04652421051992354),
 (522, 0.03798685881987932),
 (523, 0.08104408984731078),
 (524, 0.0),
 (525, 0.07715167498104596),
 (526, 0.04879500364742666),
 (527, 0.0545544725589981),
 (528, 0.03919309008348103),
 (529, 0.25197631533948484),
 (530, 0.08399210511316162),
 (531, 0.07484811885651196),
 (532, 0.03450327796711771),
 (533, 0.09523809523809525),
 (534, 0.13801311186847084),
 (535, 0.1283881477532739),
 (536, 0.18442777839082936),
 (537, 0.1315903389919538),
 (538, 0.0),
 (539, 0.39279220242478635),
 (540, 0.12371791482634838),
 (541, 0.14547859349066158),
 (542, 0.05884898863364997),
 (543, 0.12598815766974242),
 (544, 0.08559209850218259),
 (545, 0.03742405942825598),
 (546, 0.1126872339638022),
 (547, 0.13957263155977062),
 (548, 0.0),
 (549, 0.20619652471058064),
 (550, 0.04652421051992354),
 (551, 0.0681598176590997),
 (552, 0.0),
 (553, 0.043643578047198484),
 (554, 0.0),
 (555, 0.06328775911610858),
 (556, 0.044543540318737404),
 (557, 0.03984095364447979),
 (558, 0.0),
 (559, 0.04550157551932901),
 (560, 0.0545544725589981),
 (561, 0.0545544725589981),
 (562, 0.05292561240249632),
 (563, 0.04052204492365539),
 (564, 0.15430334996209194),
 (565, 0.07597371763975865),
 (566, 0.042796049251091296),
 (567, 0.04052204492365539),
 (568, 0.22750787759664506),
 (569, 0.06988565578146122),
 (570, 0.07273929674533079),
 (571, 0.06655583256397218),
 (572, 0.17471413945365305),
 (573, 0.03494282789073061),
 (574, 0.03587480016670876),
 (575, 0.06988565578146122),
 (576, 0.07838618016696206),
 (577, 0.3256694736394648),
 (578, 0.06734350297014739),
 (579, 0.22271770159368703),
 (580, 0.042796049251091296),
 (581, 0.2503130871608794),
 (582, 0.26590801173915524),
 (583, 0.057807331301608006),
 (584, 0.1649572197684645),
 (585, 0.041239304942116126),
 (586, 0.07273929674533079),
 (587, 0.12156613477096617),
 (588, 0.044543540318737404),
 (589, 0.19518001458970669),
 (590, 0.05006261743217588),
 (591, 0.09449111825230681),
 (592, 0.03289758474798845),
 (593, 0.0),
 (594, 0.09100315103865803),
 (595, 0.21821789023599242),
 (596, 0.1567723603339241),
 (597, 0.09759000729485331),
 (598, 0.0545544725589981),
 (599, 0.04386344633065127),
 (600, 0.11227217828476795),
 (601, 0.050734628943184104),
 (602, 0.14349920066683505),
 (603, 0.10286889997472795),
 (604, 0.1126872339638022),
 (605, 0.04652421051992354),
 (606, 0.0),
 (607, 0.08992359739952711),
 (608, 0.0),
 (609, 0.07273929674533079),
 (610, 0.08559209850218259),
 (611, 0.03984095364447979),
 (612, 0.11396057645963797),
 (613, 0.0563436169819011),
 (614, 0.03857583749052298),
 (615, 0.10286889997472795),
 (616, 0.060522753266880246),
 (617, 0.044543540318737404),
 (618, 0.14159846508095775),
 (619, 0.0),
 (620, 0.0),
 (621, 0.1126872339638022),
 (622, 0.03857583749052298),
 (623, 0.0),
 (624, 0.15877683720748895),
 (625, 0.05292561240249632),
 (626, 0.13650472655798704),
 (627, 0.23145502494313785),
 (628, 0.0),
 (629, 0.07715167498104596),
 (630, 0.03919309008348103),
 (631, 0.08908708063747481),
 (632, 0.13093073414159545),
 (633, 0.04052204492365539),
 (634, 0.13093073414159545),
 (635, 0.07377111135633174),
 (636, 0.03688555567816587),
 (637, 0.04052204492365539),
 (638, 0.060522753266880246),
 (639, 0.0),
 (640, 0.09449111825230681),
 (641, 0.0),
 (642, 0.0),
 (643, 0.13093073414159545),
 (644, 0.07968190728895957),
 (645, 0.06988565578146122),
 (646, 0.042796049251091296),
 (647, 0.0),
 (648, 0.05292561240249632),
 (649, 0.0),
 (650, 0.08399210511316162),
 (651, 0.0),
 (652, 0.08399210511316162),
 (653, 0.1690308509457033),
 (654, 0.17937400083354382),
 (655, 0.044543540318737404),
 (656, 0.0),
 (657, 0.060522753266880246),
 (658, 0.08104408984731078),
 (659, 0.03984095364447979),
 (660, 0.15430334996209194),
 (661, 0.26622333025588873),
 (662, 0.0),
 (663, 0.0),
 (664, 0.08908708063747481),
 (665, 0.11572751247156893),
 (666, 0.08908708063747481),
 (667, 0.0),
 (668, 0.1904761904761905),
 (669, 0.060522753266880246),
 (670, 0.026860765467512676),
 (671, 0.12598815766974242),
 (672, 0.04199605255658081),
 (673, 0.03217447260438935),
 (674, 0.07838618016696206),
 (675, 0.07273929674533079),
 (676, 0.04761904761904762),
 (677, 0.04052204492365539),
 (678, 0.1904761904761905),
 (679, 0.0),
 (680, 0.12598815766974242),
 (681, 0.05006261743217588),
 (682, 0.030261376633440123),
 (683, 0.08559209850218259),
 (684, 0.0),
 (685, 0.04879500364742666),
 (686, 0.051434449987363975),
 (687, 0.17118419700436519),
 (688, 0.06299407883487121),
 (689, 0.0),
 (690, 0.04652421051992354),
 (691, 0.1126872339638022),
 (692, 0.181848241863327),
 (693, 0.058321184351980436),
 (694, 0.03539961627023944),
 (695, 0.12598815766974242),
 (696, 0.03494282789073061),
 (697, 0.0),
 (698, 0.06900655593423542),
 (699, 0.058321184351980436),
 (700, 0.043643578047198484),
 (701, 0.10585122480499264),
 (702, 0.03742405942825598),
 (703, 0.03984095364447979),
 (704, 0.10619884881071831),
 (705, 0.04550157551932901),
 (706, 0.03450327796711771),
 (707, 0.0),
 (708, 0.03919309008348103),
 (709, 0.031497039417435604),
 (710, 0.09078412990032037),
 (711, 0.07597371763975865),
 (712, 0.0),
 (713, 0.042796049251091296),
 (714, 0.0),
 (715, 0.18156825980064073),
 (716, 0.03984095364447979),
 (717, 0.0),
 (718, 0.10585122480499264),
 (719, 0.0),
 (720, 0.05006261743217588),
 (721, 0.0545544725589981),
 (722, 0.0),
 (723, 0.04052204492365539),
 (724, 0.03798685881987932),
 (725, 0.0),
 (726, 0.0),
 (727, 0.04879500364742666),
 (728, 0.10762440050012628),
 (729, 0.07715167498104596),
 (730, 0.05006261743217588),
 (731, 0.07715167498104596),
 (732, 0.13093073414159545),
 (733, 0.09652341781316803),
 (734, 0.1091089451179962),
 (735, 0.11227217828476795),
 (736, 0.05006261743217588),
 (737, 0.042796049251091296),
 (738, 0.0),
 (739, 0.0657951694959769),
 (740, 0.1649572197684645),
 (741, 0.09304842103984708),
 (742, 0.04550157551932901),
 (743, 0.03688555567816587),
 (744, 0.10585122480499264),

In [ ]:
sorted(list(enumerate(smlty[0])), reverse=True, key=lambda x:x[1])[1:11]

[(507, 0.5039526306789696),
 (1216, 0.43355498476205995),
 (151, 0.3947710169758614),
 (1194, 0.3944053188733077),
 (539, 0.39279220242478635),
 (61, 0.3818813079129867),
 (1204, 0.35273781075132926),
 (1920, 0.34718253741470684),
 (74, 0.3471825374147068),
 (4048, 0.3438409530367517)]

In [ ]:
def recommend(movie):
  movie_index = df[df['title'] == movie].index [0] # fetching the movie index
  dist = smlty[movie_index]
  movies_list = sorted(list(enumerate(dist)), reverse=True, key=lambda x:x[1])[1:11]
  for i in movies_list:
    print(df.iloc[i[0]].title) # i[0] represents the movie index

In [ ]:
recommend('Avatar')

Independence Day
Aliens vs Predator: Requiem
Beowulf
Small Soldiers
Titan A.E.
Jupiter Ascending
Predators
Lifeforce
Edge of Tomorrow
U.F.O.

In [ ]:
recommend('The Dark Knight Rises')

Nighthawks
Amidst the Devil's Wings
The Siege
Nine Queens
Mercury Rising
Teenage Mutant Ninja Turtles
Mi America
Batman
Batman
Midnight in the Garden of Good and Evil

In [ ]:
recommend('Spectre')

Never Say Never Again
Quantum of Solace
From Russia with Love
Skyfall
Dr. No
Diamonds Are Forever
Thunderball
Die Another Day
Safe Haven
Octopussy

In [ ]:
recommend('Jurassic World')

The Lost World: Jurassic Park
Jurassic Park
Walking With Dinosaurs
A Sound of Thunder
Sea Rex 3D: Journey to a Prehistoric World
Jurassic Park III
Terminator Genisys
Journey to the Center of the Earth
Land of the Lost
John Carter

In [ ]:
recommend('Tangled')

Toy Story 3
The Princess and the Frog
Home on the Range
Corpse Bride
Animals United
Shrek
Fantasia
Monsters vs Aliens
Aladdin
The Smurfs